@charset "utf-8";
/* CSS Document */
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: poppins;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background: rgb(251, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    z-index: 1;
}
.logo img{
    height: 40px;
}
nav ul{
    display: flex;
    height: 21px;
    padding: 0;
}
nav ul li a{
    display: flex;
    margin: 2px;
    padding: 0px 20px;
    color: #010101;
    letter-spacing: 1px; 
}
nav ul li a:hover{
    color: #FFAF13;
    
}
.dropdown {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    height: 80px;
    z-index: 100;
    padding-top: 10px;
    position: absolute;
    display: none;
}

.dropdown li{
    padding-top: 10px;
}
.wrapper1:hover .dropdown{
    display : block;
}
/*.background{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed; 
}
.img-bg{
    height: 100vh;
    width: 100%;
    position: absolute;
}*/
.model img{ 
    height: 550px;
    width: 550px;
    animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate{
    100%
    {
    transform: rotate(360deg);
    }
} 
.back{
    background-image: url('./background1.png');
    background-position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7rem; 
    background-size: cover;
}
.text{
    align-items: center;
    right: 62%;
    top: 15%;
    color: aliceblue;
} 
.text h1{
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
span
{
    color: #FFAF13;
}
.button {
    display: flex;
    background-color: #FFAF13;
    color: aliceblue;
    justify-content: center;
    height: 70px;
    width: 277px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    align-items: center;
    position: absolute;
    left: 8%;
    font-weight: 700;
}
.button:hover{
    background-color: #fbca67;
}
.most-popular h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFAF13;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderjs{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.card-image{
    width: 80%;
    height: 80%;
    transition: 1s;
}
.card-image:hover{
    transform: scale(1.1);
    z-index: 2;
}
h4{
    color: #FFAF13;
}
.span{
    color: #FFAF13;
}
.bestseller h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.bestseller{
    display: flex;
    justify-content: center;
}
.box{
  width: 176px; 
  height: 308px;
  background-color: #fdfdfd;
  padding: 50px;
  margin: 20px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  transition: 1s;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
.slider1{
    display: flex;
    justify-content: center;
}
.itemimage{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.menu1{
    display: flex;
    justify-content: center;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}
.about{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}
.about1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box1{
     width: 176px; 
     height: 176px;
     background-color: #fdfdfd;
     padding: 50px;
     margin: 20px;
     box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
     border-radius: 29px;
     transition: 1s;
    } 
.box1:hover{
        transform: scale(1.1);
        z-index: 2;
    }
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 66px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}
.contact-form{
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    margin-top: 120px;
    margin-bottom: 100px;
}
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FFAF13;
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fbca67;
}

.reservation-form {
    max-width: 469px;
    margin: 0 auto;
    padding: 46px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    
}

.reservation-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 10px;
    background-color: #FFAF13;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fbca67;
}
body {
	background-color: #f8fafc;
}

.container {
    margin-top: 0px
	padding: 2rem;
}
.slider-wrapper {
	position: relative;
	max-width: 60rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
.gallery{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery1{
    display: flex;
    justify-content: center;
}
.imge1{ 
    width: 547px;
    height: 330px;
 background-image: url(ga1.png);
  padding: 50px;
  margin: 20px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}
.imge2{ 
    width: 547px;
    height: 330px;
   background-image: url(https://i0.wp.com/live-less-ordinary.com/wp-content/uploads/2015/05/Dwarikas-Hotel-Kathmandu-Nepal-6.jpg);
    padding: 50px;
    margin: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
  }
  .imge3{ 
    width: 547px;
    height: 330px;
   background-image: url(https://www.andbeyond.com/wp-content/uploads/sites/5/Sparkling-Pool-At-Dwarikas-Hotel.jpg);
    padding: 50px;
    margin: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
  }
  .imge4{ 
    width: 547px;
    height: 330px;
   background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/263341689.jpg?k=55cdd3f901aabcd2a2ed9ef408942a8b9d71a5eee9401dce533475b12771a0f2&o=&hp=1);
    padding: 50px;
    margin: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
  }
  .imge5{ 
    width: 547px;
    height: 330px;
   background-image: url(https://www.insidermedia.com/uploads/news/images/The_Tempus%2C_Charlton_Hall_Estate.jpg);
    padding: 50px;
    margin: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
  }
.imge6{ 
    width: 547px;
    height: 330px;
   background-image: url(https://i.dailymail.co.uk/1s/2023/08/08/11/74075997-12373905-image-a-28_1691490350297.jpg);
    padding: 50px;
    margin: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
  }
  .footer{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-weight: 500;
  }
  .footer a{
    text-decoration: underline;
    color: #fbca67;
  }
  